[submodule "zed-ros2-wrapper"]
	path = zed-ros2-wrapper
	url = https://github.com/open-rdc/zed-ros2-wrapper
[submodule "vectornav"]
	path = vectornav
	url = https://github.com/open-rdc/vectornav
[submodule "zed-sdk"]
	path = zed-sdk
	url = https://github.com/open-rdc/zed-sdk.git
