#拡張子で指定
*.log
*.pyc
*.pt

#ディレクトリで指定
bin/
logs/

.vs/
.vscode/

build/
install/
log/

test/

simulator_old/
planning/e2e_planner/data/
planning/e2e_planner/runs/
docs/
#ファイル名で指定
AGENTS.md
CLAUDE.md
.codex
*project.md

#例外ファイルを指定
