[submodule "vectornav"]
	path = vectornav
	url = https://github.com/open-rdc/vectornav
[submodule "socketcan_interface"]
	path = socketcan_interface
	url = https://github.com/hcmos/ros2-socketcan_interface
[submodule "utilities"]
	path = utilities
	url = https://github.com/hcmos/ros2-utilities
[submodule "odrive_can"]
	path = odrive_can
	url = https://github.com/hcmos/ros2-odrive_can
