--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.12.0+cu128
torchvision==0.27.0+cu128
torchaudio==2.11.0+cu128
numpy<2
matplotlib==3.10.9
opencv-python==4.11.0.86
pymap3d==3.2.0
pyproj==3.7.1
schedulefree==1.4.1
scipy==1.15.3
setuptools==58.2.0
tensorboard==2.20.0
tqdm==4.68.1
transforms3d==0.4.2
