<?xml version="1.0"?>
<model>
  <name>Construction Cone</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>OpenRobotics</name>
    <email>info@openrobotics.org</email>
  </author>

  <description>
    A construction cone with custom orange color.
  </description>
</model>
