<?xml version="1.0"?>
<robot name="aerial_bg">
  <!-- RVizの固定フレームに合わせる。まずは map を親にしておく -->
  <link name="map"/>

  <link name="aerial_plane">
    <visual>
      <!-- チラつき防止で 1mm 持ち上げ（必要なら0に） -->
      <origin xyz="0 0 0.001" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://simulator/world/meshes/shihou_world.dae" scale="1 1 1"/>
      </geometry>
      <material name="tex">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
  </link>

  <joint name="map_to_plane" type="fixed">
    <parent link="map"/>
    <child link="aerial_plane"/>
    <!-- 画像の中心をどこに置くかはここで微調整 -->
    <origin xyz="0 0 0" rpy="0 0 1.57"/>
  </joint>
</robot>

