<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="plugins_diffdrive">
    <plugin filename="libignition-gazebo-diff-drive-system.so"
            name="ignition::gazebo::systems::DiffDrive">
      <left_joint>left_wheel_joint</left_joint>
      <right_joint>right_wheel_joint</right_joint>
      <wheel_separation>0.6</wheel_separation>
      <wheel_radius>0.124</wheel_radius>
      <odom_publish_frequency>30</odom_publish_frequency>
      <topic>cmd_vel</topic>
      <odom_topic>odom</odom_topic>
    </plugin>
  </xacro:macro>

  <xacro:macro name="plugins_sensors">
    <plugin filename="libignition-gazebo-imu-system.so"
            name="ignition::gazebo::systems::Imu"/>
    <plugin filename="ignition-gazebo-sensors-system"
            name="ignition::gazebo::systems::Sensors"/>
  </xacro:macro>

</robot>

