<?xml version="1.0"?>

<model>
  <name>panel</name>
  <version>2.0</version>
  <!-- <sdf version="1.4">model-1_4.sdf</sdf> -->
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Kenta Ishizeki</name>
    <email>a.w.g.d0201@icloud.com</email>
  </author>

  <description>
    panel
  </description>
</model>